.section {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  height: 85vh;
  gap: 1.5rem;
}

.h1 {
  color: #3593ac;
  font-size: 4.5rem;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.label {
  font-size: 2rem;
}

.input {
  border: none;
  border-bottom: 0.2rem solid #3593ac;
  padding-left: 3.5rem;
  position: relative;
  font-size: 2rem;
  width: inherit;
  height: inherit;
  outline: none;
}

.input_container {
  width: 700px;
  height: 70px;
  margin: 0.5rem;
}

.icons {
  color: #3593ac;
  position: absolute;
  z-index: 1;
  font-size: 2.6rem;
  margin-right: 2rem;
  margin-top: 2rem;
}

.btn {
  margin-top: 3rem;
  font-size: 2rem;
  color: #fff;
  background-color: #3593ac;
  min-width: 10%;
  padding: 1.5rem;
  border-radius: 3rem;
  text-align: center;
  border: 1px solid #000;
  margin-top: 3rem;
  transition: 0.3s;
}

.btn:hover {
  cursor: pointer;
  background: none;
  border: 1px solid #000;
  color: #000;
}

.mensagem {
  font-size: 2rem;
  margin-top: 3rem;
  font-weight: bold;
}

@media (max-width: 730px) {
  .h1 {
    font-size: 3rem;
  }

  .input {
    width: 100%;
    height: auto;
    font-size: 1.7rem;
  }

  .input_container {
    margin: 2rem;
    height: auto;
    width: 95%;
  }

  .icons {
    font-size: 2rem;
    margin-top: 0;
  }
  .mensagem {
    font-size: 1.5rem;
    text-align: center;
    min-height: 15%;
  }
  .btn {
    font-size: 2rem;
  }
}
