.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
}

.section {
  height: 85vh;
}

.table_container {
  overflow-x: auto;
}

.table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
  height: 2.5rem;
  font-size: 2rem;
}
.h1 {
  font-size: 3rem;
}
.p {
  font-size: 2rem;
}

td {
  font-size: 2rem;
  width: 20vw;
  padding: 2rem;
  text-align: left;
}

th {
  text-align: left;
  width: 20vw;
  padding: 0.7rem;
}

thead {
  border-bottom: 0.1px solid #808080;
}

tr {
  text-align: left;
  border-bottom: 0.1px solid #808080;
}

.btn_create {
  cursor: pointer;
  font-size: 2rem;
  color: #fff;
  background-color: #3593ac;
  width: 15%;
  padding: 1.5rem;
  border-radius: 3rem;
  text-align: center;
  border: 1px solid #000;
  margin: 2rem;
  transition: 1s;
}

.create_btn_container {
  width: 98%;
  text-align: right;
  margin: 0.5rem;
}

.btn_create:hover {
  background: none;
  border: 1px solid #000;
  color: #000;
}

.modal,
.modal_edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
}

.container_input_modal {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem;
  background-color: #fff;
}

span {
  font-weight: bold;
}

.container_inputs {
  margin: 1rem;
}

.container_inputs,
label {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
}

.container_input,
label,
span {
  margin: 0.5rem;
}

.inputs_create_products {
  border: none;
  border-bottom: 0.1rem solid #000;
  position: relative;
  font-size: 2.5rem;
  width: inherit;
  height: inherit;
  outline: none;
}

.create_products_submit {
  border: none;
  outline: none;
  text-align: center;
  width: 90%;
  cursor: pointer;
  font-size: 2rem;
  background: none;
}

.modal_btn {
  background: none;
  outline: none;
  border: none;
  width: 100%;
  text-align: end;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.modal_hidden,
.modal_hidden_edit {
  display: none;
}

.p_modal {
  margin: 2rem;
  font-weight: bold;
}

.icon {
  cursor: pointer;
}

@media (max-width: 985px) {
  .h1 {
    font-size: 2.5rem;
  }
  td {
    font-size: 1.5rem;
  }
  th {
    font-size: 1.5rem;
  }
  .btn_create {
    width: auto;
  }

  .create_btn_container {
    text-align: center;
  }

  .inputs_create_products {
    font-size: 1.5rem;
  }

  .container_input_modal {
    font-size: 1.5rem;
  }
}
